/*=== themesion-ele-fid-style-2 ===*/
.themesion-ele-fid-style-2 {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 30px;
}
.themesion-ele-fid-style-2 .thsn-fid-inner{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 5px;
}
.themesion-ele-fid-style-2 .thsn-fid-title {
    font-size: 15px; 
    line-height: 24px;
}
.themesion-ele-fid-style-2 .thsn-fid-title span{
    font-weight: 600;
}
.themesion-ele-fid-style-2  sup{
    font-size: 90%;
    top: -2px;
}
.themesion-ele-fid-style-2  .thsn-sbox-icon-wrapper {
    display: none;
}

@media (max-width:1200px){
    .themesion-ele-fid-style-2{
        padding:  0 38px;
    }
}
