/*=== themesion-ele-fid-style-4 ===*/
.themesion-ele-fid-style-4 {
    position: relative;
    padding: 10px;
    height: 120px;
    width: 120px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--thsn-grevo-global-color);
}
.themesion-ele-fid-style-4 .thsn-fld-contents {
    width: 100%;
    height: 100%;
    padding: 22px 15px;
    border-radius: 50%;
    border: 2px dotted #fff;
}
.themesion-ele-fid-style-4 .thsn-fid-inner {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
}
.themesion-ele-fid-style-4 .thsn-fid-title {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
    color: var(--thsn-grevo-blackish-color);
}
.themesion-ele-fid-style-4 .thsn-sbox-icon-wrapper {
    display: none;
}
.themesion-ele-fid-style-4 sup {
    top: -.3em;
}
