.thsn-client-style-2{
    text-align: center;
}
.thsn-client-style-2 .thsn-client-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 40px 30px 20px;
}
.thsn-client-style-2:hover .thsn-client-wrapper {
    background-color: var(--thsn-grevo-global-color);
}
.thsn-client-style-2 .thsn-client-wrapper {  
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.thsn-client-style-2:hover .thsn-featured-wrapper {
    visibility: hidden;
    opacity: 0;
}
.thsn-client-style-2:hover .thsn-client-with-hover-img .thsn-client-hover-img {
    transform: translate(0px, 0px);
}
.thsn-client-style-2 .thsn-client-with-hover-img .thsn-featured-wrapper{
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
}
.thsn-client-style-2 .thsn-client-hover-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
}
.thsn-client-style-2 .thsn-client-with-hover-img .thsn-client-hover-img  {
    transform: translateY(-100%);
    padding: 35px 30px 20px;
    -webkit-transition: -webkit-transform .6s ease;
    transition: -webkit-transform .6s ease;
    -o-transition: transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
}
.thsn-client-style-2 .thsn-client-with-hover-img:hover .thsn-client-hover-img  { 
    visibility: visible;
    transform: translateY(0%);
}
.thsn-client-style-2 .thsn-client-with-hover-img:hover .thsn-featured-wrapper{
    transform: translateY(130%);
}
