.thsn-ihbox-style-3 .thsn-ihbox-box {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
}
.thsn-ihbox-style-3 .thsn-ihbox-icon-wrapper{
	position: absolute;
	top: 15px;
    left: 0;
	font-size: 155px;
	line-height: 155px;
}
.thsn-ihbox-style-3 .thsn-element-title{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
    letter-spacing: -0.4px;
} 
.thsn-elementor-bg-color-blackish .thsn-ihbox-style-3 .thsn-ihbox-icon-wrapper{
	color: rgba(255,255,255,.10);
}
.thsn-elementor-bg-color-globalcolor .thsn-ihbox-style-3 .thsn-ihbox-icon-wrapper{
	color: rgba(255,255,255,.20);
}
.thsn-ihbox-style-3 .thsn-ihbox-contents {
    padding: 0 15px;
}
