.thsn-ihbox-style-1 {
    transform: translateY(0);
    -webkit-transition: all 0.5s cubic-bezier(.645,.045,.355,1);
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
}
.thsn-ihbox-style-1:hover{
    transform: translateY(-8px);
}
.thsn-ihbox-style-1:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    background: var(--thsn-grevo-global-color);
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    opacity: 0.50;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: scaleY(0);
    z-index: 1
}
.thsn-ihbox-style-1:hover:after{
    transform: scaleY(1.0);
    opacity: 1;
    z-index: -1;
}
.thsn-ihbox-style-1 {
    position: relative;
    text-align: center;
    padding: 40px 35px;
}
.thsn-ihbox-style-1 .thsn-element-title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px; 
}
.thsn-ihbox-style-1 .thsn-ihbox-icon-type-image{
    max-width: 85px;
    margin: auto;
    margin-bottom: 35px;
}
.thsn-ihbox-style-1:hover .thsn-ihbox-icon-type-image{
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
}
.thsn-ihbox-style-1:hover .thsn-ihbox-btn a:after{
    color: var(--thsn-grevo-white-color);
}
.thsn-ihbox-style-1,
.thsn-ihbox-style-1 .thsn-heading-desc,
.thsn-ihbox-style-1 .thsn-element-title a{
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.thsn-ihbox-style-1:hover .thsn-heading-desc,
.thsn-ihbox-style-1:hover .thsn-element-title a{
    color: #ffff;
}
