.thsn-ihbox-style-9{
    padding-left: 40px;
    display: inline-block;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.thsn-ihbox-style-9 .thsn-ihbox-icon-type-image{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid var(--thsn-grevo-blackish-color);
    -webkit-transition: all .3s;
    transition: all .3s;
}
.thsn-ihbox-style-9 .thsn-ihbox-icon-type-image img{
    border-radius: 50%;
}
.thsn-ihbox-style-9 .thsn-ihbox-contents {
    padding-left: 15px;
}
.thsn-ihbox-style-9 .thsn-heading-desc a{
    text-decoration-line: underline;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.thsn-elementor-bg-color-globalcolor .thsn-ihbox-style-9 .thsn-heading-desc a{
    color: #fff;
}
.thsn-elementor-bg-color-globalcolor .thsn-ihbox-style-9 .thsn-heading-desc a:hover{
    color:var(--thsn-grevo-blackish-color);
}
.thsn-ihbox-style-9 .thsn-ihbox-icon-type-image:before {
    position: absolute;
    content: "\e84b";
    left: -40px;
    top: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-family: 'themesion-base-icons';
    -webkit-transition: all .3s;
    transition: all .3s;
}
.thsn-ihbox-style-9:hover .thsn-ihbox-icon-type-image:before{
    background-color: var(--thsn-grevo-global-color);
}
.thsn-elementor-bg-color-globalcolor .thsn-ihbox-style-9:hover .thsn-ihbox-icon-type-image:before,
.thsn-ihbox-style-9 .thsn-ihbox-icon-type-image:before{
    color: #fff;
    background-color: var(--thsn-grevo-blackish-bg-color);
}
.thsn-elementor-bg-color-globalcolor .thsn-ihbox-style-9 .thsn-ihbox-icon-type-image:before{
    background-color: #fff;
    color: var(--thsn-grevo-global-color);
}
.thsn-ihbox-style-9:hover .thsn-ihbox-icon-wrapper{
    animation: ts-bounce 500ms ease-in-out 50ms;
}
.thsn-ihbox-style-9 .thsn-heading-desc {
    line-height: 22px;
}
@keyframes ts-bounce { 
    0% { 
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}
@media (max-width: 575px){
    .thsn-ihbox-style-9{
        padding-left: 0;
        text-align: center;
    }
    .thsn-ihbox-style-9 .thsn-ihbox-icon-type-image {
        text-align: center;
        margin: 0 auto;
    }
    .thsn-ihbox-style-9 .d-flex{
        display: block !important;
    }
    .thsn-ihbox-style-9 .thsn-ihbox-contents{
        padding-left: 0;
        padding-top: 15px;
    }
}
