.thsn-search-result-cpt{
    display: none;
    margin-top: -2px;
    padding: 30px 30px 20px 30px !important;
}
.thsn-search-result-loader {
    height: 300px;
    width: 100%;
    border: 1px solid #f6f6f8;
    display: table;
    text-align: center;
    background: #f6f6f8;
    text-align: center;
}
.thsn-search-result-loader-inner{
    display: table-cell;
    vertical-align: middle;
}
.thsn-search-results-loaded .thsn-search-result-loader {
    display: none;
}
.thsn-search-results-loaded .thsn-search-result-cpt{
    display: block;
}
.skltbs-theme-light .skltbs-tab, .skltbs-theme-dark .skltbs-tab{
    font-size: 15px !important;
}
.skltbs-tab span {
    background: #fff;
    font-size: 13px;
    background-color: var(--thsn-grevo-blackish-color);   
    color: #fff;
    line-height: 19px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    position: relative;
    top: -1px;
    min-width: 25px;
    margin-left: 5px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.skltbs-tab .thsn-search-result-tab-link.skltbs-active > button > span,
.skltbs-tab.skltbs-active  > span{    
    background-color: #fff;
    color: var(--thsn-grevo-blackish-color);
}
.skltbs-theme-light .skltbs-tab.skltbs-active{
	border-radius: 5px 5px 0px 0px;
}
.skltbs-theme-light .skltbs-tab.skltbs-active {
    border-color: transparent;
    background-color: var(--thsn-grevo-secondary-color) !important;   
}
.skltbs-theme-light .skltbs-tab.skltbs-active:focus, .skltbs-theme-light .skltbs-tab.skltbs-active:hover {
    border: none !important;
}
.skltbs-theme-light .skltbs-tab:focus{
	box-shadow: none;
}

.skltbs-theme-light .skltbs-panel:focus{
    border-color: #f6f6f8 !important;
}
.skltbs-theme-light .skltbs-tab:focus{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*=== thsn-search-result-page ===*/
.thsn-search-result-page ul{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.thsn-search-result-page ul li{
    width: 50%;
}
.thsn-search-results-back-global-btn,
.thsn-search-results-load-btn{   
    margin-top: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.thsn-search-results-back-global-btn a,
.thsn-search-results-load-btn a{
    display: inline-block;
    padding: 15px 25px;
    padding-right: 43px;
    background-color: var(--thsn-grevo-blackish-color);
    color: #fff;
    position: relative;
}

.thsn-search-results-back-global-btn a:after,
.thsn-search-results-load-btn a:after{
    position: absolute;
    font-family: 'themesion-base-icons';
    content: '\e806';
    right: 19px;
    top: 15px;
    font-size: 15px;
    font-weight: 400;
}
.thsn-search-results-back-global-btn a:hover,
.thsn-search-results-load-btn a:hover{ 
    background-color: var(--thsn-grevo-secondary-color);
}
.thsn-search-results-back-global-btn a{
    padding-left: 43px;
}
.thsn-search-results-back-global-btn a:after{
    content: '\e81e';
    right: auto;
    left: 19px;
}
